*, :root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  --color: #fff;
  --textColor: #e05836;
  --color2: #2f2120;
  --color3: #f4cb9f;
}
body{
  background-color: #1a1b1f;
}
header{
  display: flex;
  color: var(--color);
  justify-content: space-between;
  background: #1a1b1f;
  padding: .3rem 0;
  border: 2.3px solid rgb(175, 173, 173);
  margin: 2rem 1rem;
  border-radius: 2rem;
  align-items: center;
}
header .menuList{
  display: flex;
}
header .headerName{
  padding-left: 1rem;
  font-family: cursive, sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}
.headerName::after{
  content: attr(data-end);
  color: var(--textColor);

}
.menuList li{
  display: inline-block;
  font-size: 1.1rem;
padding: 0 .8rem;
font-weight: 400;
}
.search{
  filter:  invert(17%) sepia(90%) saturate(900%) hue-rotate(0deg) brightness(0%) contrast(0%);
}
.carts{
  padding-right: 30px;
  position: relative;
}
.carts :nth-child(3){
  background: var(--textColor);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  display: grid;
  place-items: center;
  justify-content: center;
  right: -.4rem;
  top: -.4rem;
}
.cart{
  filter:  brightness(0) invert(1); 
}
.menuHover{

}
.menuHover span{
  display: none;
}